body{
    transition: opacity 0.4s ease;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    justify-content: center;
    background-image: url("/static/uploads/bee.jpg");
    background-size: cover ;
    text-align: center;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;    
    font-size: 60px;    
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.btn
{
    padding: 10px 30px;
    width: 200px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    background-color:rgba(0, 17, 255, 0);
    color: rgba(255, 255, 255, 0.998);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border: 1px solid #fffffff3;
}
.btn:hover
{
    transform: translateX(-3px);
    background-color: rgba(255, 255, 255, 0.205);
    transition: 0.3s;
}