<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zoo</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

<div class="container">
    <h1>The Onigashima Zoo</h1>
    <button class="btn" id="GalleryBtn">View Gallery</button>
</div>


<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
